<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

</head>
<body>
    <h1>Energy Usage Dashboard</h1>
    <canvas id="voltageChart" width="400" height="200"></canvas>
    <canvas id="currentChart" width="400" height="200"></canvas>
    <canvas id="powerChart" width="400" height="200"></canvas>
    <canvas id="totaluseChart" width="400" height="200"></canvas>

    <script>
        // Fetch the latest data using AJAX
        function fetchData() {
            fetch('/api/energy_data/')
                .then(response => response.json())
                .then(data => {
                    const voltageData = data.map(entry => entry.voltage);
                    const currentData = data.map(entry => entry.current);
                    const powerData = data.map(entry => entry.power);
                    const labels = data.map(entry => entry.timestamp);
                    const totaluse = data.map(entry => entry.total_units_consumed);

                    updateChart('voltageChart', 'Voltage (V)', labels, voltageData, 'rgba(255, 99, 132, 1)');
                    updateChart('currentChart', 'Current (A)', labels, currentData, 'rgba(54, 162, 235, 1)');
                    updateChart('powerChart', 'Power (W)', labels, powerData, 'rgba(75, 192, 192, 1)');
                    updateChart('totaluseChart', 'totalunits (W)', labels, totaluse, 'rgba(75, 192, 192, 1)');
                });
        }

        function updateChart(chartId, label, labels, data, borderColor) {
            new Chart(document.getElementById(chartId).getContext('2d'), {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: label,
                        data: data,
                        borderColor: borderColor,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        x: {
                            min: 0, 
                            max: 6 
                        },
                        y: {
                            min: 0,  
                            max: 260
                        }
                    }
                }
            });
        }

        // Fetch data on page load
        fetchData();
    </script>
</body>
</html>
