{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
</head>
<body>
    <button onclick="window.history.back()">Back</button>
    <h2>Forget Password</h2>
    <form method="POST" action="{% url 'sendotp' %}">
        {% csrf_token %}
        <label for="email">Enter Your Email:</label><br>
        <input type="email" id="email" name="email" placeholder="Enter your email" required><br>
        <button type="submit">Send</button>
    </form>
</body>
</html>
