{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/resetpass.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
  </head>
  <body>
    <div class="container">
      <button class="back-btn" onclick="window.history.back()">←</button>
      <h2>Reset Password</h2>
      <p>
        Set the new password for your account so you can log in and access all
        the features.
      </p>
      <form action="{% url 'resetpass' %}" method="POST">
        {% csrf_token %}
        <label for="new_password">New Password:</label>
        <input
          type="password"
          id="new_password"
          name="new_password"
          placeholder="New Password"
          required
        />
        <label for="confirmpassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmpassword"
          name="confirmpassword"
          placeholder="Confirm Password"
          required
        />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
