{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link href="{% static 'Forgetpassword2.css' %}" rel="stylesheet">
</head>
<body>
    <button class="backbutton" onclick="window.history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
            <path d="M12 5l-8.5 7.5 8.5 7.5v-5.5h11v-4h-11z"/>
        </svg>
    </button>
    
    

    <div class="container">
        <div class="image-container">
            <img src="{% static 'smartwatt/forgetpasswordpageimage.png' %}" alt="Forget Password Image">
        </div>
        <div class="content">
            <h2>Enter 4 Digits Code</h2>
            <form method="POST" action="{% url 'verifyotp' %}">
                {% csrf_token %}
                <label for="otp">Enter OTP:</label>
                <input type="text" id="otp" name="otp" required>
                <button type="submit">Verify OTP</button>
            </form>
            <label class="otplabel" for="otp">Enter the 4 digits code that you receive on your email.</label><br><br>
           
             <button type="submit">Send</button>
            
            
        </div>
    </div>
</body>
</html>


