{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup</title>
   
    <link href="{% static 'styles.css' %}" rel="stylesheet">

    <script src="{% static 'Ammar.js' %}" defer></script>
</head>
<body>
    
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                <h1>Create Account</h1>
                <input type="text" name="username" placeholder="username" />
                <input type="password" name="password" placeholder="password" />
                <input type="email" name="email" placeholder="email" />
                
                <button class="ammar">Sign Up</button>
                <button class="google"><img src="{% static 'smartwatt/google.png' %}" alt="Google Icon"><br>Sign Up with Google</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form method="GET"  action="{% url 'login' %}"> 
                {% csrf_token %}
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
                <h1>Sign in</h1>
                <input type="email" name="email" placeholder="email" />
                <input type="password" name="password" placeholder="password" />
                <a href="#">Forgot your password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <p>
            
        </p>
    </footer>  
</body>
</html>
