body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.image-container img {
    max-width: 100%; /* Adjust width of the image */
    max-height: 100%; /* Adjust height of the image */
    object-fit: cover;
}

.content {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
   
    margin-right: 130PX;
}

h2 {
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
label.otplabel{

    font-weight: normal;
}
label {
    display: block;
    font-weight: bold;
    color: #333;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.backbutton {
    margin-top: 20px;
    margin-left: 20px;
    width: 60px; /* Adjust button width */
    height: 40px; /* Adjust button height */
    background-color: #eff2f5; 
    color: #004AAD; /* Blue color */
    border: none ;
    border-radius: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backbutton svg {
    fill: #004AAD; /* Blue color */
    width: 50px; /* Adjust arrow width */
    height: 50px; /* Adjust arrow height */
}





button {
    margin-left: 120px;
    width: 100px;
    height: 40px; 
    padding: 5px 15px; 
    background-color: #eff2f5; 
    color: #0e0e0e; 
    border: 2px solid #004AAD;
    border-radius: 10px; 
    cursor: pointer;
    transition: all 0.3s ease; 
    font-size: 16px; 
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: scale(1.05); /* Enlarge button on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}



.resend {
    color: #333;
    font-size: 14px;
    margin-top: 20px;
}

.resend a {
    color: #007bff;
    text-decoration: none;
}

.resend a:hover {
    text-decoration: underline;
}

.otp-container {
    display: flex;
    

  }
  
  .otp-input {
    width: 50px;
    height: 50px;
    margin-right:40px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #080606;
    border-radius: 5px;
  }
  
  /* Optional: Style for focused input box */
  .otp-input:focus {
    outline: none;
    border-color: blue;
  }
  