body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-half {
    flex: 1;
    text-align: center;
}

.left-half img {
    max-width: 1500px; 
    max-height: 500px; 
    width: auto;
    height: auto;
    margin-left: 85px;
}

.right-half {
    flex: 1;
    padding: 20px;
}

.right-half h2 {
    margin-top: 0;
}

.right-half p {
    margin-top: 5px;
}

.reset-text {
    color: black;
}

.custom-form {
    width: 300px;
}

input[type="password"] {
    width: 100%;
    margin-top: 10px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    outline: none;
}

input[type="password"]::placeholder,
button {
    padding: 10px;
}

button {
    margin-left: 120px;
    width: 100px;
    height: 40px; 
    padding: 5px 15px; 
    background-color: #eff2f5; 
    color: #0e0e0e; 
    border: 2px solid #004AAD;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.3s ease; 
    font-size: 16px; 
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}

.backbutton {
    margin-top: 20px;
    margin-left: 20px;
    width: 60px; 
    height: 40px; 
    background-color: #eff2f5; 
    color: #004AAD; 
    border: none ;
    border-radius: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backbutton svg {
    fill: #004AAD; 
    width: 50px; 
    height: 50px; 
}

